<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/posts">
		<input type="text" name="post[name]" id="name">
		<input type="text" name="post[content]" id="content">
		<input type="submit" name="submit" id="submit">
	</form>
</body>
</html>