<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<%= @post.name%>
	<%= @post.content%>
	<form action="/posts/<%= @post.id%>/delete" method="POST">
		<input id="hidden" type="hidden" name="_method" value="delete">
		<input type="submit" name="" value="delete">
	</form>

</body>
</html>
